html,
body,
p,
ul,
li,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a:link {
  font-weight: normal;
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  border: none;
}

body {
  font-family: "Lato-Regular", Arial, sans-serif;
}

.main-wrapper {
  width: 1020px;
  margin: auto;
  background-color: #f2f2f2;
}

.page-title_hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  border: 0;
  padding: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99, 9% 99, 9%);
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  height: 95px;
  align-items: center;
  padding: 0 40px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.logo {
  height: 16px;
  font-family: "Lato-Bold", Arial, sans-serif;
  font-size: 25px;
  line-height: 20px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

.logo a {
  color: #ffffff;
}

.logo::after {
  content: "*";
  font-size: 24px;
  color: #f06c64;
}

.menu {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 10px;
  color: #fff;
}

.menu__link {
  position: relative;
  font-family: Lato-Bold, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #fff;
}

.menu__link:not(.active)::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  background: #f06c64;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.menu__link:not(.active):hover::after {
  width: 100%;
}

.menu__link.active {
  color: #f06c64;
}

.menu__item:not(:first-child)::before {
  display: inline-block;
  width: 30px;
  content: "·";
  text-align: center;
  color: #494e62;
  transition: color 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -ms-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
}

.menu__item:not(:first-child):hover::before {
  color: #f06c64;
}

/* OUR SERVICES */

.our-services {
  border-bottom: 6px solid #ffffff;
}

.section-wrapper {
  padding: 60px 40px 32px 40px;
  color: #767e9e;
}

.our-services__title {
  font-family: Lato-Black, Arial, sans-serif;
  font-size: 30px;
  text-transform: capitalize;
  line-height: 40px;
  letter-spacing: 0.15px;
  color: #666d89;
}

.our-services__subtitle {
  font-family: Lato-Regular;
  line-height: 31px;
  text-align: justify;
  font-size: 18px;
  letter-spacing: -0.33px;
  padding: 15px 0 40px 0;
}

.services__list {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.services__item {
  display: flex;
  width: 33.333%;
  color: #666d89;
  min-height: 123px;
  background-repeat: no-repeat;
  background-position: 0px 2px;
}

.services__item[data-icon="pen"] {
  background-image: url(assets/images/pen.png);
}
.services__item[data-icon="lightbulb"] {
  background-image: url(assets/images/lightbulb.png);
}
.services__item[data-icon="heart"] {
  background-image: url(assets/images/heart.png);
}
.services__item[data-icon="phone"] {
  background-image: url(assets/images/phone.png);
}
.services__item[data-icon="speach"] {
  background-image: url(assets/images/speach.png);
}
.services__item[data-icon="star"] {
  background-image: url(assets/images/star.png);
}

.services__item_description {
  width: 300px;
  padding-left: 80px;
  text-align: justify;
}

.services__item_description h2 {
  font-family: Lato-Black, Arial, sans-serif;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.5px;
}

.services__item_description p {
  font-size: 12px;
  padding-top: 7px;
  line-height: 21px;
}
