* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a:link {
  font-weight: normal;
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  border: none;
}

button:active,
button:focus {
  outline: none;
}

body {
  font-family: "Lato-Regular", Arial, sans-serif;
}

.small-space {
  display: inline-block;
  width: 6px;
}

.main-wrapper {
  width: 1020px;
  margin: auto;
  background-color: #f2f2f2;
}
.content-wrapper {
  padding: 60px 40px 63px;
  color: #767e9e;
}

.content-wrapper__title {
  font-family: Lato-Black, Arial, sans-serif;
  font-size: 30px;
  text-transform: capitalize;
  line-height: 40px;
  letter-spacing: 0.15px;
  color: #666d89;
}

.content-wrapper__subtite {
  font-family: Lato, Arial, sans-serif;
  font-size: 18px;
  text-align: justify;
  padding: 15px 0 9px;
  line-height: 29px;
  -webkit-text-stroke: 0.4px;
  color: #757d9c;
}

.divider {
  height: 36px;
}

.portfolio {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.about .content-wrapper {
  border-bottom: 6px solid #fff;
  padding: 60px 40px 52px;
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 605px;
  overflow: hidden;
}

.section-content__item {
  margin-bottom: 15px;
}

.portfolio .section-content__item {
  position: relative;
  overflow: hidden;
  width: 220px;
  height: 187px;
  margin-bottom: 20px;
}

[data-imageName="birds"] {
  top: -32px;
  left: -24px;
}

[data-imageName="broken-photo"] {
  top: -60px;
  left: -36px;
}

[data-imageName="robot"] {
  top: -2px;
  left: -24px;
}

[data-imageName="monster"] {
  top: -175px;
  left: -144px;
}

[data-imageName="robo-kids"] {
  top: -39px;
  left: -31px;
}

[data-imageName="funny-kids"] {
  top: -16px;
  left: -10px;
}

[data-imageName="web-tools"] {
  top: -4px;
  left: -16px;
}

[data-imageName="sllepy-monster"] {
  top: -2px;
  left: -16px;
}

[data-imageName="ship"] {
  top: -11px;
  left: -8px;
}

[data-imageName="smile-girl"] {
  top: -43px;
  left: -82px;
}

[data-imageName="night-city"] {
  top: -1px;
  left: -11px;
}

[data-imageName="words"] {
  top: -113px;
  left: -141px;
}

.portfolio .section-content__item img {
  position: absolute;
}

.about .section-content__item {
  width: 31.9%;
}

.about .section-content__item:nth-child(2) img {
  position: relative;
  right: 1px;
}

.about
  .section-content__item
  img:hover
  + .section-content__description
  > .description-title {
  color: #f06c64;
  transition: color 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -ms-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
}

.filter-buttons {
  display: flex;
  justify-content: space-between;
  max-width: 288px;
  flex-wrap: nowrap;
  padding: 2px 0 19px;
}

.filter-buttons button {
  text-transform: capitalize;
  font-size: 12px;
  line-height: 0;
  height: 22px;
  padding: 5px 5px;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  background-color: transparent;
  color: #767e9e;
  border: 1px solid #767e9e;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-text-stroke: 0.4px;
}

.filter-buttons li:first-child button {
  width: 29px;
  margin-left: 1px;
}

.filter-buttons li:last-child button {
  width: 57px;
  letter-spacing: 0.5px;
}

.filter-buttons button:hover,
.filter-buttons button.active {
  cursor: pointer;
  color: #dedede;
  border-color: #dedede;
}

.description-title {
  font-family: Lato-Black;
  font-size: 18px;
  letter-spacing: -0.2px;
  padding: 12px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.description-subtitle {
  font-size: 12px;
  line-height: 21px;
  margin-top: 7px;
  text-align: justify;
}

.section-content li:nth-child(1) .description-subtitle {
  font-size: 12px;
}
.section-content li:nth-child(1) .description-subtitle:first-line {
  font-size: 11px;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 153px;
  margin-top: 22px;
}

.social__icon {
  width: 34px;
  height: 34px;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-color: #666d89;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.section-content li:first-child .social .linkedin {
  width: 33px;
}

.social__icon:hover {
  cursor: pointer;
  background-color: #e83d28;
}

.social__icon.facebook {
  mask-image: url(assets/images/social/facebook.svg);
  -webkit-mask-image: url(assets/images/social/facebook.svg);
}

.social__icon.google {
  mask-image: url(assets/images/social/google+.svg);
  -webkit-mask-image: url(assets/images/social/google+.svg);
}

.social__icon.twitter {
  mask-image: url(assets/images/social/twitter.svg);
  -webkit-mask-image: url(assets/images/social/twitter.svg);
}
.social__icon.linkedin {
  mask-image: url(assets/images/social/linkedin.svg);
  -webkit-mask-image: url(assets/images/social/linkedin.svg);
}
