$font-basic: "Lato", Arial, sans-serif;
$font-main: "Lato-Regular", Arial, sans-serif;
$font-thin: "Lato-Light", Arial, sans-serif;
$font-bold: "Lato-Bold", Arial, sans-serif;
$font-extra: "Lato-Black", Arial, sans-serif;

$color-main-fill: #f06c64;
$color-main-body: #f2f2f2;
$color-main-font: #767e9e;
$color-secondary-font: #f0d8d9;

$color-font-placeholder: #f48c8f;

$color-bg-input: #d6564f;
$color-bg-footer: #2d303a;
$color-border-bottom-main:#ea676b

